
.content .title {
    text-align: center;
    padding: 50px 0;
}

.content .title h3 {
    font-size: 36px;
    line-height: 36px;
    color: #333333;
    font-family: MFYueHei_Noncommercial-Regular, sans-serif;
}

.content .title h4 {
    font-size: 30px;
    color: #666666;
    line-height: 55px;
}

.content .title b {
    font-weight: normal;
    color: #c0262a;
    font-family: MFYueHei_Noncommercial-Regular, sans-serif;
}

.banner {
    width: 100%;
    height: 650px;
}

.banner .swiper-slide {
    width: 100%;
    height: 650px;
}

.banner .swiper-pagination {
    bottom: 30px !important;
}

.banner .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    border: 1px solid #c0262a;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}

.banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #c0262a;
}

/**/
/**/

/**/
.msg_list {
    padding: 16px 0 70px 0;

}

.msg_list .container {
    overflow: hidden;
}

.msg_list .container .row {
    width: 1250px;
}

.msg_list .container .row .item {
    width: 33.33%;
    float: left;
    padding-right: 50px;
}

.msg_list .msg_title {
    position: relative;
    border-bottom: 1px solid #cccccc;
    margin: 30px 0;
}

.msg_list .msg_title h2 {
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    padding: 13px 0;
}

.msg_list .msg_title:after {
    content: '';
    display: block;
    width: 94px;
    height: 3px;
    background: #c0262a;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.msg_list .msg_title .more {
    font-size: 14px;
    line-height: 14px;
    color: #999999;
    position: absolute;
    right: 0;
    bottom: 12px;
}

.msg_list .msg_title .more:hover {
    color: #c0262a;
}

.msg_list .pic.gsjs {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
}

.msg_list .pic.gsjs img {
    border-radius: 2px;
}

.msg_list .txt {
    position: relative;
}

.msg_list .txt.gsjs p {
    font-size: 14px;
    color: #666666;
    line-height: 26px;
}

.msg_list .txt.gsjs a {
    font-size: 14px;
    color: #c0262a;
    position: absolute;
    bottom: 0;
    right: 0;
}

.msg_list .pic.activity {
    width: 100%;
    height: 298px;
    position: relative;
}

.news_list .news_first {
    height: 110px;
}

.news_list .news_first .pic {
    width: 160px;
    height: 110px;
    float: left;
}

.news_list .news_first .con {
    width: 189px;
    height: 110px;
    float: left;
    padding-left: 15px;
    overflow: auto;
}

.news_list .news_first .con p {
    font-size: 14px;
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 22px;
    padding-top: 15px;
}

.news_list h5 {
    font-size: 18px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .3s;
}

.news_list ul {
    padding-top: 12px;
}

.news_list ul li {
    height: 55px;
    line-height: 55px;
    border-bottom: dashed 1px #cccccc;
    position: relative;
    padding-left: 25px;
}

.news_list a:hover h5 {
    color: #c0262a;
    transform: translate(0, -3px);
    transition: all .3s;
}

.news_list ul li:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/base/list_style.png") center/cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.msg_list .pic.activity p {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #c0262a;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    color: #ffffff;
    padding: 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.condition {
    width: 100%;
    height: 282px;
    background: url("../images/index/bj_00.jpg") center center /cover no-repeat;
    position: relative;
    margin-bottom: 191px;
}

.condition_container {
    position: absolute;
    top: 136px;
}

.condition_container:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.condition_item {
    width: 350px;
    height: 305px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    float: left;
    padding: 0 60px;
    text-align: center;
    margin: 0 25px;
    transition: all .3s;
    position: relative;
}

.condition_item:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #c0262a;
    position: absolute;
    left: 0;
    top: -2px;
    transition: all .6s;
}

.condition_item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    transition: all .3s;
}

.condition_item:hover:after {
    width: 100%;
    transition: all .6s;
}

.condition_item h5 {
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    letter-spacing: 1px;
    padding: 38px 0 38px 0;
}

.condition_item ul {
    width: 250px;
}

.condition_item ul li {
    width: 108px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #666666;
    border: solid 1px #ccc;
    margin-right: 17px;
    margin-bottom: 17px;
    float: left;
    cursor: default;
    transition: all .3s;
}

.condition_item > a {
    display: inline-block;
    width: 200px;
    height: 45px;
    background-color: #c0262a;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 27px;
    left: 0;
    right: 0;
    margin: auto;
}

.condition_item ul li a {
    display: block;
    font-size: 18px;
    color: #666666;
    position: static;
}

.condition_item ul li a:hover {
    color: #c0262a;
}

.condition_item ul li:hover {
    border-color: #c0262a;
    color: #c0262a;
    transition: all .3s;
}


/**/
/**/
/**/

.plate {

}

.plate .main:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.plate_nav {
    width: 212px;
    height: 508px;
    float: left;
}

.plate_nav .wrapper {
    width: 204px;
    height: 100%;
    float: right;
    background: #eeeeee;
    padding-top: 38px;
}

.plate_nav ul {

}

.plate_nav ul li {
    width: 212px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 24px;
    color: #666666;
    position: relative;
    right: 8px;
}

.plate_nav ul li span {
    display: block;
    width: 204px;
    height: 100%;
    float: right;
    border-bottom: dashed 1px #aaaaaa;
    cursor: pointer;
    box-sizing: unset;
}

.plate_nav ul li.on + li {
    border-bottom: none;
}

.plate_nav ul li.on span,
.plate_nav ul li:last-child span {
    border-bottom: none;
}

.plate_nav ul li.on {
    border-bottom: none;
    background-color: #c0262a;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
}

.plate_nav ul li.on:after {
    content: '';
    display: block;
    border-left: #c0262a solid 19px;
    border-right: transparent solid 19px;
    border-bottom: transparent solid 10px;
    border-top: transparent solid 10px;
    position: absolute;
    right: -38px;
    top: 26px;
}

.plate_container {
    width: 949px;
    height: 508px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.19);
    float: right;
    padding: 11px;
    position: relative;
    overflow: hidden;
}

.plate_item {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.plate_item.on {
    visibility: visible;
    opacity: 1;
}

.plate_item .tip {
    width: 682px;
    height: 356px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    float: left;
}

.plate_item .tip .tip_s {
    position: absolute;
    width: 364px;
    height: 249px;
    background-color: #ffffff;
    border-radius: 8px;
    opacity: 0.85;
    top: 28px;
    right: 34px;
    padding: 24px;
}

.plate_item .tip .tip_s h5 {
    font-size: 18px;
    color: #333333;
    text-align: center;
    padding: 0 20px 10px 20px;
    line-height: 30px;
}

.plate_item .tip .tip_s p {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
}

.guild {
    width: 233px;
    height: 356px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, rgba(238, 238, 238, 1) 10%, rgba(0, 0, 0, 0) 10%),
    linear-gradient(rgba(238, 238, 238, 1) 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
    float: left;
    margin-left: 12px;
    text-align: center;
    position: relative;
}

.guild h5 {
    font-size: 32px;
    color: #333333;
    line-height: 32px;
    padding: 100px 0 17px 0;
}

.guild a {
    font-size: 18px;
    color: #333333;
}

.guild a.liaojie {
    display: block;
    width: 146px;
    height: 45px;
    background: #c0262a;
    font-size: 18px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
    /*position: absolute;*/
    /*bottom: 110px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    margin: 20px auto;
}

.summary {
    width: 100%;
    height: 110px;
    float: left;
    margin-top: 18px;
}

.summary ul li {
    width: 292px;
    height: 109px;
    border-radius: 55px;
    border: solid 1px #cccccc;
    float: left;
    margin-right: 24px;
    padding: 0 20px 0 30px;
}

.summary ul li .num {
    font-size: 72px;
    color: #c0262a;
    font-family: xiqiyangyang, sans-serif;
    float: left;
    line-height: 100px;
}

.summary ul li .con {
    float: left;
    width: 170px;
    padding-left: 20px;
}

.summary ul li .con h6 {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0 10px 0;
    color: #333333;
}

.summary ul li .con p {
    font-size: 14px;
    color: #666666;
}

/**/
/**/
/**/
.specialty {
    height: 489px;
    background-color: #f5f5f5;
}

.specialty_item {
    width: 25%;
    float: left;
    padding: 0 40px;
    text-align: center;
}

.specialty_item .pic {
    width: 132px;
    height: 132px;
    border-radius: 100%;
    margin: auto;
}

.specialty_item .pic img {
    border-radius: 100%;
}

.specialty_detail {
    text-align: center;
}

.specialty_detail p {
    font-size: 24px;
    line-height: 24px;
    color: #333333;
    padding: 35px 0 15px 0;
}

.specialty_detail span {
    font-size: 16px;
    color: #666666;
}

/**/
/**/
/**/
.instance {
    background: #fdf3f3;
}

.instance_nav {
    text-align: center;
    font-size: 0;
}

.instance_nav ul {
    display: inline-block;
}

.instance_nav ul li {
    text-align: center;
    float: left;
    margin: 0 12px;
    width: 189px;
    height: 62px;
    line-height: 62px;
    font-size: 22px;
    color: #333333;
    cursor: pointer;

}

.instance_nav ul li {
    border: solid 1px #cccccc;
    border-radius: 31px;
    transition: all .5s;
}

.instance_nav ul li.on {
    border-radius: 0;
    border-color: #c0262a;
    background: #c0262a;
    color: #ffffff;
    transition: all .5s;
}

.instance_container {
    width: 100%;
    height: 320px;
    position: relative;
    margin-top: 65px;
}

.instance_container .instance_item {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.instance_container .instance_item.on {
    visibility: visible;
    opacity: 1;
}

.instance_container .instance_item .left {
    width: 600px;
    float: left;
}

.instance_container .instance_item .pic {
    width: 458px;
    height: 319px;
    margin: auto;
}

.instance_container .instance_item .context {
    width: 600px;
    height: 319px;
    float: left;
    position: relative;
}

.instance_container .instance_item .context h6 {
    font-size: 24px;
    color: #333333;
    line-height: 24px;
    padding-bottom: 20px;
}

.instance_container .instance_item .context p {
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    font-family: "Microsoft YaHei UI", sans-serif;
    line-height: 24px;
}

.instance_container .instance_item .context a {
    display: block;
    width: 180px;
    height: 49px;
    background: #c0262a;
    border-radius: 2px;
    text-align: center;
    line-height: 49px;
    font-size: 18px;
    letter-spacing: 2px;
    position: absolute;
    left: 0;
    bottom: 40px;
}

/**/
/**/
/**/
/**/

/**/
/**/
/**/
/**/
.doctor {
    position: relative;
}

.doctor_container:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.doctor_container {

}

.doctor_container .doctor_master {
    width: 750px;
    height: 536px;
    border: solid 2px #c0262a;
    position: relative;
    /*margin-left: 15px;*/
    float: left;
    padding: 13px;
}

.doctor_master .pic {
    width: 354px;
    height: 100%;
    float: left;
    background-image: linear-gradient(45deg, #eeecec 0%, #dedede 100%);
}

.doctor_master .context {
    width: 340px;
    height: 100%;
    float: left;
    margin-left: 25px;
    position: relative;
}

.doctor_master .name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.doctor_master .genre {
    width: 336px;
    height: 37px;
    background: #c0262a;
    font-size: 15px;
    color: #ffffff;
    line-height: 37px;
    padding-left: 5px;
    position: relative;
    margin-bottom: 20px;
}

.doctor_master .genre:after {
    content: '';
    display: block;
    border-right: #FFFFFF solid 25px;
    border-bottom: transparent solid 37px;
    position: absolute;
    right: 0;
    top: 0;
}

.doctor_master .vert {
    font-size: 18px;
    color: #333333;
}

.doctor_master p {
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}

.doctor_master a {
    display: block;
    width: 184px;
    height: 54px;
    background-color: #c0262a;
    border-radius: 2px;
    line-height: 54px;
    color: #ffffff;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 85px;
    left: 0;
}

.doctor_minor {
    width: 450px;
    float: left;
}

.doctor_minor ul li {
    width: 180px;
    height: 255px;
    float: left;
    position: relative;
    margin-left: 23px;
    margin-bottom: 23px;
}

.doctor_minor ul li p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 18px;
    color: #ffffff;
}

/**/
/**/
/**/
.ambient .title {
    padding-bottom: 22px;
    border-bottom: 1px solid #cccccc;
}

.ambient .title li {
    height: 30px;
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: #666666;
    padding: 0 10px;
    border-right: 2px solid #666666;
    cursor: pointer;
}

.ambient .title li:last-child {
    border-right: 0;
}

.ambient .title li.on {
    color: #c0262a;
}

.ambient_container {
    width: 100%;
    height: 240px;
    margin: 55px 0;
    position: relative;
}

.ambient_item {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.ambient_item.on {
    opacity: 1;
    visibility: visible;
}

.ambient_item .swiper-slide {
    height: 240px;
}

.ambient_item .swiper-slide img {
    width: 100%;
    height: 100%;
}

.ambient_item .swiper-button-prev,
.ambient_item .swiper-button-next {
    width: 40px;
    height: 40px;
    outline: none;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.ambient_item .swiper-button-prev {
    left: -20px;
    background: url("../images/base/btn_left.png") center/cover no-repeat;
}

.ambient_item .swiper-button-next {
    right: -20px;
    background: url("../images/base/btn_right.png") center/cover no-repeat;
}

@media screen and (max-width: 1200px) {
    .ambient_item .swiper-button-prev {
        left: 0;
    }

    .ambient_item .swiper-button-next {
        right: 0;
    }
}

.zs {
    width: 100%;
    text-align: center;
    padding: 50px 0 40px 0;
    float: left;
}

.zs .pic {
    width: 224px;
    height: 39px;
    margin: auto;
}
